
.contenedorCard {
    padding: 10px;
    width: 430px;
    height: 322px;
}
.columnaL {
    width: 50%;
    float: left;
}
.columnaR {
    width: 50%;
    float: right;
}
.wwCard2 {
    width: 104px; 
    height: 15px;
}
.wwCard {
    width: 208px; 
}
.card {
    border: 0.5px solid #000; 
    width: 208px; 
    height: 322px; 
    border-radius: 5px;
}
.mp0 { 
    padding: 0px;
    margin: 0px;
}
.p2 { padding: 5px;}
.m2 { margin: 5px;}
.p0 { padding: 0px;}
.mb { margin-bottom: 1px;}
.mb-0 { margin-bottom: 0px;}
.mb-1 { margin-bottom: 5px;}
.mb-2 { margin-bottom: 10px;}
.text { line-height: 1;}
.text2 { line-height: 0.5;}
.wwfull { width: 100%;}
.h100px { height: 100px;}
.texto-red { color: red;}
.texto-small { font-size: 8px;}
.texto-white { color: white;}
.texto-black { color: black;}
.texto-center{ text-align: center; }
.texto-negritas { font-weight: 700;}
.itemCentradoH { margin: 0 auto; /* Aplica margen horizontal automático para centrar */ }

.texto-indicaciones {
    text-align: center; 
    color: black; 
    font-size: 8px!important; 
    word-wrap: break-word"
}
.divQR{
    width: 50%; 
    margin: 0 auto; /* Aplica margen horizontal automático para centrar */
    height: 50px; 
}
.divMensajeRojo {
    width: 207px;
    height: 40px;
    background: #E10918;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}
.texto-dias {
    text-align: center; 
    color: white; 
    font-weight: 700;
    font-size: 11px!important; 
    word-wrap: break-word"
}
.items-center{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.imgVoluntario {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px; 
    height: 80px;
}

body {
    line-height: 1.5!important;
    font-weight: 400!important;
    font-size: 10px!important;
    font-family: "Droid Sans", sans-serif!important;
    word-wrap: break-word!important
}

.titulo {
    text-align: center;
    font-size: 16.5px;
    line-height: 1;
    font-weight: 700;
}

.nombre {
    /* text-align: center; */
    font-size: 13px;
    line-height: 1;
    font-weight: 700;
}
.subtitulo{
    text-align: center;
    font-size: 5px;
    /* font-weight: 700; */
}
.texto-firma{
    text-align: center;
    font-size: 3px;
    line-height: 1.5;
    /* font-weight: 700; */
}
.imgSello {
    position: relative;
    width: 42px;
    height: 42px;
    left: 5px;
    top: 12px;
}

.imgFirma {
    position: relative;
    width: 37px;
    height: 37px;
    left: 25px;
    top: 12px;
}
